.logo {
    display: flex;
    text-decoration: none;
    color: $accent-color;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    cursor: default;
}

.logo-footer {
    color: $logo-color-footer;
}

.logo-header {
  color: $logo-color-header;
}