.nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 50px;
    }
}

.site-nav__line::after {
    position: absolute;
    content: '';
    display: block;
    height: 4px;
    margin-top: 28px;
    background: $accent-color;
    background-size: contain;
    border-radius: 2px;
    width: 100%;
}

.site-nav__link {
    color: $primary-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}